.form{
  padding-top: 15px;
  position: relative;
  font-family: @font-roboto;

  &._modal{
    top: 196px;
  }

  &__title{
    .flex(row, flex-start, center);
  }

  &__title-text{
    .font(15px, bold);
    margin-left: 15px;
  }

  &__new{
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #001737;

    transition: .3s;
    cursor: pointer;

    &:hover{
      color: @csrd-text-gray
    }
  }

  &__form{
    width: calc(80% - 30px);
    padding: 15px;
  }
  &__input{
    margin-top: 10px;
  }
  &__button{
    margin-top: 15px;
    background: @csrd-blue;
    color: white;
    border: 0;
    width: 100px;
    height: 25px;
    border-radius: 6px;
    cursor: pointer;
  }
}