.info {
  width: 100%;
  font-family: @font-roboto;
  padding: 15px 0;

  &._problem {
  }

  &._customer {
    margin-top: 15px;
  }

  &__title {
    .font(15px, bold);
    line-height: 18px;
    margin-left: 15px;
  }

  &__list {
    margin-top: 15px;
  }

  &__point {
    height: 40px;
    width: calc(100% - 30px);
    border-top: 1px solid @csrd-divider-gray;
    margin: 0 15px;
    .flex(row, space-between, center);
    position: relative;

    animation: show 1s ease;

    @keyframes show {
      0% {
        opacity: 0;
        left: -10px;
      }
      100% {
        opacity: 1;
        left: 0;
      }
    }

    &__comment {
      height: auto;
      min-height: 40px;
    }
  }

  &__key {
    .font(14px, 500);
    line-height: 18px;
  }

  &__value {
    .font();
    line-height: 16px;
    text-align: right;
    color: @csrd-text-gray
  }
}