.cpm-table{
  font-family: @font-roboto;
  width: calc(100% - 20px);
  max-height: calc(100% - 20px);
  min-height: 200px;
  //overflow-y: scroll;
  padding: 10px;
  position: relative;
  left: 0;
  transition: .3s;
  overflow-y: scroll;

  &._hidden{
    left: -50px;
  }

  &__list{
    .flex(column-reverse)
  }
  &__title{
    font-weight: bold;
    margin-left: 15px;
    .flex(row, flex-start, center);
  }
  &__title-name{
    font-size: 15px;
  }
  &__title-all{
    font-family: @font-roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #001737;
    margin-left: 25px;

    transition: .3s;
    cursor: pointer;

    &:hover{
      color: @csrd-text-gray
    }
  }
  &__ticket{
    border-top: 2px solid #D3E3F7;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
    height: 45px;
    background: white;
    .flex(row, space-between, center);
    font-size: 14px;
    transition: .3s;
    cursor: pointer;
    position: relative;

    animation: show .5s ease;

    @keyframes show {
      0%{
        opacity: 0;
        left: -5px;
      }
      100%{
        opacity: 1;
        left: 0;
      }
    }


    //box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.36);
    &:last-child{
      border-top: 0;
    }
    &:nth-child(2n - 1){
      background: @csrd-light-gray;
    }


    &:hover{
      background: #d1dae5;
    }
    &_header{
      padding-left: 20px;
      padding-right: 20px;
      width: calc(100% - 40px);
      height: 45px;
      background: white;
      .flex(row, space-between, center);
      font-weight: 500;
      font-size: 14px;
      color: @csrd-gray;
    }
    &-col{
      width: 15%;
      .flex(row, flex-start, center);


      &:nth-child(1){
        width: 25%;
      }
      &:nth-child(3), &:nth-child(4){
        width: 16%;
      }
      &:nth-child(2), &:nth-child(5){
        width: 16%;
      }
    }
    &-text{
      text-overflow: ellipsis;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-height: 17px;
      max-height: 34px;
    }
    &-text._type{
      color: white;
      font-weight: bold;
      height: 16px;
      background: @csrd-turquoise;
      text-transform: uppercase;
      padding: 4px 8px;
    }
    &-text._status{
      color: white;
      font-weight: bold;
      height: 16px;
      background: @csrd-turquoise;
      text-transform: uppercase;
      padding: 4px 12px;
      border-radius: 12px;
    }
  }
}