@nc-dark-blue: #173148;
@nc-light-blue: #4C7AA1;
@nc-yellow: #F8BF4C;
@csrd-background: #F3F3F3;
@csrd-light-gray: #edf2f7;
@csrd-divider-gray: #CDD6DC;
@csrd-gray: #a7afb7;
@csrd-text-gray: #9fa2b4;
@csrd-light-blue: #EBF4F8;
@csrd-turquoise: #47DDCC;
@csrd-violet: #5164F3;
@csrd-dark-blue: #0f24d4;
@csrd-blue: #2B80FF;
@csrd-light-stroke: #E7E8F0;
@csrd-grey: #A7AFB7;
@csrd-very-dark-blue: #001737;
@csrd-ticket-light-blue: #D3E3F7;
@csrd-card-light-gray: #DDE4EB;
@csrd-card-shadow-gray: rgba(90, 113, 208, 0.107337);
@csrd-green: #2FA84F;
@csrd-red: #EA3D2F;
@csrd-white: white;
@csrd-roe-tariff-violet: #3751FF;
@csrd-roe-button-grey: #F0F1F7;
@csrd-pink: #F7D2FF;
@csrd-neon-green: #2CD9C5;
