@font-roboto: 'Roboto', sans-serif;
@font-noto-sans: 'Noto Sans', sans-serif;
@font-mulish: 'Mulish', sans-serif;

@font-light-weight: 300;
@font-regular-weight: 400;
@font-medium-weight: 500;
@font-bold-weight: 700;

@font-x-small-size: 11px;
@font-small-size: 12px;
@font-regular-size: 14px;
@font-medium-size: 18px;
@font-large-size: 22px;
@font-x-large-size: 24px;

